/.smex-items
/ac-comphist.dat
/elpa/archives/gnu/archive-contents
/elpa/archives/marmalade/archive-contents
/elpa/auto-complete-1.4/COPYING.FDL
/elpa/auto-complete-1.4/COPYING.GPLv3
/elpa/auto-complete-1.4/Makefile
/elpa/auto-complete-1.4/README.md
/elpa/auto-complete-1.4/TODO.md
/elpa/auto-complete-1.4/auto-complete-autoloads.el
/elpa/auto-complete-1.4/auto-complete-config.el
/elpa/auto-complete-1.4/auto-complete-config.elc
/elpa/auto-complete-1.4/auto-complete-pkg.el
/elpa/auto-complete-1.4/auto-complete-pkg.elc
/elpa/auto-complete-1.4/auto-complete.el
/elpa/auto-complete-1.4/auto-complete.elc
/elpa/auto-complete-1.4/dict/ada-mode
/elpa/auto-complete-1.4/dict/c++-mode
/elpa/auto-complete-1.4/dict/c-mode
/elpa/auto-complete-1.4/dict/caml-mode
/elpa/auto-complete-1.4/dict/clojure-mode
/elpa/auto-complete-1.4/dict/clojurescript-mode
/elpa/auto-complete-1.4/dict/coq-mode
/elpa/auto-complete-1.4/dict/css-mode
/elpa/auto-complete-1.4/dict/erlang-mode
/elpa/auto-complete-1.4/dict/java-mode
/elpa/auto-complete-1.4/dict/javascript-mode
/elpa/auto-complete-1.4/dict/lua-mode
/elpa/auto-complete-1.4/dict/php-mode
/elpa/auto-complete-1.4/dict/python-mode
/elpa/auto-complete-1.4/dict/ruby-mode
/elpa/auto-complete-1.4/dict/scheme-mode
/elpa/auto-complete-1.4/dict/sh-mode
/elpa/auto-complete-1.4/dict/tcl-mode
/elpa/auto-complete-1.4/dict/ts-mode
/elpa/auto-complete-1.4/dict/tuareg-mode
/elpa/auto-complete-1.4/doc/ac-fuzzy.png
/elpa/auto-complete-1.4/doc/ac-isearch.png
/elpa/auto-complete-1.4/doc/ac.png
/elpa/auto-complete-1.4/doc/changes.ja.txt
/elpa/auto-complete-1.4/doc/changes.txt
/elpa/auto-complete-1.4/doc/demo.txt
/elpa/auto-complete-1.4/doc/index.ja.txt
/elpa/auto-complete-1.4/doc/index.txt
/elpa/auto-complete-1.4/doc/manual.ja.txt
/elpa/auto-complete-1.4/doc/manual.txt
/elpa/auto-complete-1.4/doc/style.css
/elpa/clojure-mode-2.0.0/clojure-mode-autoloads.el
/elpa/clojure-mode-2.0.0/clojure-mode-pkg.el
/elpa/clojure-mode-2.0.0/clojure-mode-pkg.elc
/elpa/clojure-mode-2.0.0/clojure-mode.el
/elpa/clojure-mode-2.0.0/clojure-mode.elc
/elpa/expectations-mode-0.0.4/expectations-mode-autoloads.el
/elpa/expectations-mode-0.0.4/expectations-mode-pkg.el
/elpa/expectations-mode-0.0.4/expectations-mode-pkg.elc
/elpa/expectations-mode-0.0.4/expectations-mode.el
/elpa/expectations-mode-0.0.4/expectations-mode.elc
/elpa/find-file-in-project-3.2/find-file-in-project-autoloads.el
/elpa/find-file-in-project-3.2/find-file-in-project-pkg.el
/elpa/find-file-in-project-3.2/find-file-in-project-pkg.elc
/elpa/find-file-in-project-3.2/find-file-in-project.el
/elpa/find-file-in-project-3.2/find-file-in-project.elc
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-autoloads.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-pkg.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-pkg.elc
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode.elc
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-autoloads.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-pkg.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-pkg.elc
/elpa/ido-ubiquitous-1.6/ido-ubiquitous.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous.elc
/elpa/magit-1.2.0/dir
/elpa/magit-1.2.0/magit-autoloads.el
/elpa/magit-1.2.0/magit-bisect.el
/elpa/magit-1.2.0/magit-bisect.elc
/elpa/magit-1.2.0/magit-blame.el
/elpa/magit-1.2.0/magit-blame.elc
/elpa/magit-1.2.0/magit-key-mode.el
/elpa/magit-1.2.0/magit-key-mode.elc
/elpa/magit-1.2.0/magit-pkg.el
/elpa/magit-1.2.0/magit-pkg.elc
/elpa/magit-1.2.0/magit-stgit.el
/elpa/magit-1.2.0/magit-stgit.elc
/elpa/magit-1.2.0/magit-svn.el
/elpa/magit-1.2.0/magit-svn.elc
/elpa/magit-1.2.0/magit-topgit.el
/elpa/magit-1.2.0/magit-topgit.elc
/elpa/magit-1.2.0/magit-wip.el
/elpa/magit-1.2.0/magit-wip.elc
/elpa/magit-1.2.0/magit.el
/elpa/magit-1.2.0/magit.el-e
/elpa/magit-1.2.0/magit.elc
/elpa/magit-1.2.0/magit.info
/elpa/magit-1.2.0/rebase-mode.el
/elpa/magit-1.2.0/rebase-mode.elc
/elpa/nrepl-0.1.5/nrepl-autoloads.el
/elpa/nrepl-0.1.5/nrepl-pkg.el
/elpa/nrepl-0.1.5/nrepl-pkg.elc
/elpa/nrepl-0.1.5/nrepl.el
/elpa/nrepl-0.1.5/nrepl.elc
/elpa/paredit-22/paredit-autoloads.el
/elpa/paredit-22/paredit-pkg.el
/elpa/paredit-22/paredit-pkg.elc
/elpa/paredit-22/paredit.el
/elpa/paredit-22/paredit.elc
/elpa/popup-0.5/popup-autoloads.el
/elpa/popup-0.5/popup-pkg.el
/elpa/popup-0.5/popup-pkg.elc
/elpa/popup-0.5/popup.el
/elpa/popup-0.5/popup.elc
/elpa/python-mode-6.0.10/INSTALL
/elpa/python-mode-6.0.10/LICENSE
/elpa/python-mode-6.0.10/NEWS
/elpa/python-mode-6.0.10/PKG-INFO
/elpa/python-mode-6.0.10/README
/elpa/python-mode-6.0.10/ToDo
/elpa/python-mode-6.0.10/byte-compile-directory.sh
/elpa/python-mode-6.0.10/completion/pycomplete.el
/elpa/python-mode-6.0.10/completion/pycomplete.py
/elpa/python-mode-6.0.10/doc/commands-python-mode.org
/elpa/python-mode-6.0.10/doc/commands-python-mode.rst
/elpa/python-mode-6.0.10/python-mode-autoloads.el
/elpa/python-mode-6.0.10/python-mode-pkg.el
/elpa/python-mode-6.0.10/python-mode-pkg.elc
/elpa/python-mode-6.0.10/python-mode.el
/elpa/python-mode-6.0.10/python-mode.elc
/elpa/python-mode-6.0.10/setup.py
/elpa/python-mode-6.0.10/test/doctest-mode.el
/elpa/python-mode-6.0.10/test/doctest-mode.elc
/elpa/python-mode-6.0.10/test/test-triple-strings.py
/elpa/smex-2.0/smex-autoloads.el
/elpa/smex-2.0/smex-pkg.el
/elpa/smex-2.0/smex-pkg.elc
/elpa/smex-2.0/smex.el
/elpa/smex-2.0/smex.elc
/elpa/starter-kit-2.0.3/starter-kit-autoloads.el
/elpa/starter-kit-2.0.3/starter-kit-defuns.el
/elpa/starter-kit-2.0.3/starter-kit-defuns.elc
/elpa/starter-kit-2.0.3/starter-kit-misc.el
/elpa/starter-kit-2.0.3/starter-kit-misc.elc
/elpa/starter-kit-2.0.3/starter-kit-pkg.el
/elpa/starter-kit-2.0.3/starter-kit-pkg.elc
/elpa/starter-kit-2.0.3/starter-kit.el
/elpa/starter-kit-2.0.3/starter-kit.elc
/places
/tramp
*~
