/.smex-items
/ac-comphist.dat
/elpa/archives/gnu/archive-contents
/elpa/archives/marmalade/archive-contents
/elpa/auto-complete-1.4/*
/elpa/clojure-mode-2.0.0/clojure-mode-autoloads.el
/elpa/clojure-mode-2.0.0/clojure-mode-pkg.el
/elpa/clojure-mode-2.0.0/clojure-mode-pkg.elc
/elpa/clojure-mode-2.0.0/clojure-mode.el
/elpa/clojure-mode-2.0.0/clojure-mode.elc
/elpa/expectations-mode-0.0.4/expectations-mode-autoloads.el
/elpa/expectations-mode-0.0.4/expectations-mode-pkg.el
/elpa/expectations-mode-0.0.4/expectations-mode-pkg.elc
/elpa/expectations-mode-0.0.4/expectations-mode.el
/elpa/expectations-mode-0.0.4/expectations-mode.elc
/elpa/find-file-in-project-3.2/find-file-in-project-autoloads.el
/elpa/find-file-in-project-3.2/find-file-in-project-pkg.el
/elpa/find-file-in-project-3.2/find-file-in-project-pkg.elc
/elpa/find-file-in-project-3.2/find-file-in-project.el
/elpa/find-file-in-project-3.2/find-file-in-project.elc
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-autoloads.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-pkg.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode-pkg.elc
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode.el
/elpa/idle-highlight-mode-1.1.2/idle-highlight-mode.elc
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-autoloads.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-pkg.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous-pkg.elc
/elpa/ido-ubiquitous-1.6/ido-ubiquitous.el
/elpa/ido-ubiquitous-1.6/ido-ubiquitous.elc
/elpa/magit-1.2.0/dir
/elpa/magit-1.2.0/magit-autoloads.el
/elpa/magit-1.2.0/magit-bisect.el
/elpa/magit-1.2.0/magit-bisect.elc
/elpa/magit-1.2.0/magit-blame.el
/elpa/magit-1.2.0/magit-blame.elc
/elpa/magit-1.2.0/magit-key-mode.el
/elpa/magit-1.2.0/magit-key-mode.elc
/elpa/magit-1.2.0/magit-pkg.el
/elpa/magit-1.2.0/magit-pkg.elc
/elpa/magit-1.2.0/magit-stgit.el
/elpa/magit-1.2.0/magit-stgit.elc
/elpa/magit-1.2.0/magit-svn.el
/elpa/magit-1.2.0/magit-svn.elc
/elpa/magit-1.2.0/magit-topgit.el
/elpa/magit-1.2.0/magit-topgit.elc
/elpa/magit-1.2.0/magit-wip.el
/elpa/magit-1.2.0/magit-wip.elc
/elpa/magit-1.2.0/magit.el
/elpa/magit-1.2.0/magit.el-e
/elpa/magit-1.2.0/magit.elc
/elpa/magit-1.2.0/magit.info
/elpa/magit-1.2.0/rebase-mode.el
/elpa/magit-1.2.0/rebase-mode.elc
/elpa/nrepl-0.1.5/nrepl-autoloads.el
/elpa/nrepl-0.1.5/nrepl-pkg.el
/elpa/nrepl-0.1.5/nrepl-pkg.elc
/elpa/nrepl-0.1.5/nrepl.el
/elpa/nrepl-0.1.5/nrepl.elc
/elpa/paredit-22/paredit-autoloads.el
/elpa/paredit-22/paredit-pkg.el
/elpa/paredit-22/paredit-pkg.elc
/elpa/paredit-22/paredit.el
/elpa/paredit-22/paredit.elc
/elpa/popup-0.5/popup-autoloads.el
/elpa/popup-0.5/popup-pkg.el
/elpa/popup-0.5/popup-pkg.elc
/elpa/popup-0.5/popup.el
/elpa/popup-0.5/popup.elc
/elpa/python-mode-6.0.10/INSTALL
/elpa/python-mode-6.0.10/LICENSE
/elpa/python-mode-6.0.10/NEWS
/elpa/python-mode-6.0.10/PKG-INFO
/elpa/python-mode-6.0.10/README
/elpa/python-mode-6.0.10/ToDo
/elpa/python-mode-6.0.10/byte-compile-directory.sh
/elpa/python-mode-6.0.10/completion/pycomplete.el
/elpa/python-mode-6.0.10/completion/pycomplete.py
/elpa/python-mode-6.0.10/doc/commands-python-mode.org
/elpa/python-mode-6.0.10/doc/commands-python-mode.rst
/elpa/python-mode-6.0.10/python-mode-autoloads.el
/elpa/python-mode-6.0.10/python-mode-pkg.el
/elpa/python-mode-6.0.10/python-mode-pkg.elc
/elpa/python-mode-6.0.10/python-mode.el
/elpa/python-mode-6.0.10/python-mode.elc
/elpa/python-mode-6.0.10/setup.py
/elpa/python-mode-6.0.10/test/doctest-mode.el
/elpa/python-mode-6.0.10/test/doctest-mode.elc
/elpa/python-mode-6.0.10/test/test-triple-strings.py
/elpa/smex-2.0/smex-autoloads.el
/elpa/smex-2.0/smex-pkg.el
/elpa/smex-2.0/smex-pkg.elc
/elpa/smex-2.0/smex.el
/elpa/smex-2.0/smex.elc
/elpa/starter-kit-2.0.3/starter-kit-autoloads.el
/elpa/starter-kit-2.0.3/starter-kit-defuns.el
/elpa/starter-kit-2.0.3/starter-kit-defuns.elc
/elpa/starter-kit-2.0.3/starter-kit-misc.el
/elpa/starter-kit-2.0.3/starter-kit-misc.elc
/elpa/starter-kit-2.0.3/starter-kit-pkg.el
/elpa/starter-kit-2.0.3/starter-kit-pkg.elc
/elpa/starter-kit-2.0.3/starter-kit.el
/elpa/starter-kit-2.0.3/starter-kit.elc
/places
/tramp
*~
/elpa/org-20130114/COPYING
/elpa/org-20130114/README_ELPA
/elpa/org-20130114/dir
/elpa/org-20130114/etc/styles/OrgOdtContentTemplate.xml
/elpa/org-20130114/etc/styles/OrgOdtStyles.xml
/elpa/org-20130114/etc/styles/README
/elpa/org-20130114/ob-C.el
/elpa/org-20130114/ob-C.elc
/elpa/org-20130114/ob-R.el
/elpa/org-20130114/ob-R.elc
/elpa/org-20130114/ob-asymptote.el
/elpa/org-20130114/ob-asymptote.elc
/elpa/org-20130114/ob-awk.el
/elpa/org-20130114/ob-awk.elc
/elpa/org-20130114/ob-calc.el
/elpa/org-20130114/ob-calc.elc
/elpa/org-20130114/ob-clojure.el
/elpa/org-20130114/ob-clojure.elc
/elpa/org-20130114/ob-comint.el
/elpa/org-20130114/ob-comint.elc
/elpa/org-20130114/ob-css.el
/elpa/org-20130114/ob-css.elc
/elpa/org-20130114/ob-ditaa.el
/elpa/org-20130114/ob-ditaa.elc
/elpa/org-20130114/ob-dot.el
/elpa/org-20130114/ob-dot.elc
/elpa/org-20130114/ob-emacs-lisp.el
/elpa/org-20130114/ob-emacs-lisp.elc
/elpa/org-20130114/ob-eval.el
/elpa/org-20130114/ob-eval.elc
/elpa/org-20130114/ob-exp.el
/elpa/org-20130114/ob-fortran.el
/elpa/org-20130114/ob-fortran.elc
/elpa/org-20130114/ob-gnuplot.el
/elpa/org-20130114/ob-gnuplot.elc
/elpa/org-20130114/ob-haskell.el
/elpa/org-20130114/ob-haskell.elc
/elpa/org-20130114/ob-io.el
/elpa/org-20130114/ob-io.elc
/elpa/org-20130114/ob-java.el
/elpa/org-20130114/ob-java.elc
/elpa/org-20130114/ob-js.el
/elpa/org-20130114/ob-js.elc
/elpa/org-20130114/ob-keys.el
/elpa/org-20130114/ob-keys.elc
/elpa/org-20130114/ob-latex.el
/elpa/org-20130114/ob-latex.elc
/elpa/org-20130114/ob-ledger.el
/elpa/org-20130114/ob-ledger.elc
/elpa/org-20130114/ob-lilypond.el
/elpa/org-20130114/ob-lilypond.elc
/elpa/org-20130114/ob-lisp.el
/elpa/org-20130114/ob-lisp.elc
/elpa/org-20130114/ob-lob.el
/elpa/org-20130114/ob-lob.elc
/elpa/org-20130114/ob-matlab.el
/elpa/org-20130114/ob-matlab.elc
/elpa/org-20130114/ob-maxima.el
/elpa/org-20130114/ob-maxima.elc
/elpa/org-20130114/ob-mscgen.el
/elpa/org-20130114/ob-mscgen.elc
/elpa/org-20130114/ob-ocaml.el
/elpa/org-20130114/ob-ocaml.elc
/elpa/org-20130114/ob-octave.el
/elpa/org-20130114/ob-octave.elc
/elpa/org-20130114/ob-org.el
/elpa/org-20130114/ob-org.elc
/elpa/org-20130114/ob-perl.el
/elpa/org-20130114/ob-perl.elc
/elpa/org-20130114/ob-picolisp.el
